/* Portfolio - общие правила для секции*/

.portfolio__container {
    /* Шаблон, который ограничивает контент размером сетки и устанавливает отступы */
    @extend %container;
}

.portfolio__title {
    color: var(--main-black-color);

    /* Выравнивание текста по центру */
    text-align: center;

    /* Прячем (скрываем) заголовок  */
    /* Оба варианта делают одно и то же */
    visibility: hidden;
    opacity: 0;
    /* За счет отрицательного внешнего отступа - убираем высоту текста */
    margin-top: -27px;
}
