/* project - Проэкты */
.project__title {
    color: var(--main-black-color);

    /* Выравнивание текста по центру */
    text-align: center;
    /* Прячем (скрываем) заголовок  */
    /* Оба варианта делают одно и то же */
    visibility: hidden;
    opacity: 0;
    /* За счет отрицательного внешнего отступа - убираем высоту текста */
    margin-top: -27px;
}

.project__list {
    /* Шаблон для немаркированного списка */
    @extend %list;

    display: flex;
    flex-direction: row;
    /* Если элементы не вмещаются в строку, то они перепрыгивают на следующую строку */
    flex-wrap: wrap;
    /* Расстояние между карточками (вертикальное и горизонтальное - одинаковое */
    gap: 30px;
}

.project__link {
    /* Делаем ссылку блочным элементом */
    display: block;

    /* Убираем подчеркивание для ссылки */
    text-decoration: none;

    /* Параметры СSS-перехода : */
    /* - анимируемое свойство */
    transition: box-shadow;
    /* - функция распределения времени */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* - время перехода */
    transition-duration: 250ms;
}

.project__link:hover,
.project__link:focus {
    /* Новое свойство : */
    /* Многослойная тень при наведении на проект */
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.project__image {
    /* Делаем картинку блочным элементом, убирая расстояние снизу 4px, установленное по умолчанию */
    display: block;
}

/* Блок с картинкой */
.project__image-box {
    /* Для возможности сделать абсолютное позиционирование текста */
    position: relative;
    /* Скрываем переполнение - блок текста, который внизу*/
    overflow: hidden;
}

/* Блок в текстом, выезжающий снизу */
.project__image-overlay {
    /* Свойства для центрирования блока с текстом по размеру картинки */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Горизонтальные внутренние отступы */
    padding-left: 24px;
    padding-right: 24px;

    /* Абсолютное позиционирование */
    position: absolute;
    /* Установка в верхний левый угол блока картинки */
    top: 0;
    left: 0;
    /* Размеры блока с текстом-overlay - по размеру картинки */
    width: 100%;
    height: 100%;
    /* Смещение всего блока вниз - по оси Y */
    transform: translateY(100%);

    /* Цвет текста */
    color: var(--main-white-color);
    /* Фон блока - акцентный - с прозрачностью 90% */
    background-color: rgba(33, 150, 243, 0.9);

    /* Параметры СSS-перехода : */
    /* Анимация - transform - время - функция распределения времени  */
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* При ховере на всю карточку с проектом снизу выходит текст */
.project__link:hover .project__image-overlay,
.project__link:focus .project__image-overlay {
    /* Новое свойство : */
    /* Блок с текстом перемещается снизу и занимает 100% картинки */
    transform: translateY(0%);
}

.project__meta {
    padding: 20px;
    border: var(--stroke-portfolio-color) solid 1px;

    text-align: left;
}

.project__name {
    margin-bottom: 4px;

    color: var(--second-text-color);

    /* Шрифт */
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* 36px */
    letter-spacing: 0.06em;
}

.project__type {
    color: var(--main-text-color);

    /* Шрифт */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    /* 30px */
    letter-spacing: 0.03em;
}