/* team - Команда */

/* Фон на всю ширину экрана */
.team {
    background-color: var(--background-section-color);
}

.team__container {
    /* Шаблон, который ограничивает контент размером сетки и устанавливает отступы */
    @extend %container;
}

.team__list {
    /* Шаблон для немаркированного списка */
    @extend %list;

    display: flex;
    flex-direction: column;
    /* Расстояние между карточками работников */
    gap: 30px;

    @media screen and (min-width:$tablet) {
            flex-direction: row;
            flex-wrap: wrap;
    
    }


}

.team__item {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
    /* Радиусы скругления нижние */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /* Многослойная тень для карточки сотрудника */
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    /* Горизонтальное выравнивание текта  */
    text-align: center;

    @media screen and (min-width:$mobile) {
        width: 450px;
    }
        
    @media screen and (min-width:$tablet) {
        width: 354px;
    }
        
    @media screen and (min-width:$desktop) {
        width: 270px;
    }

}

.team__photo {

    display: block;
    width: 100%;
    height: auto;
    
    margin-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;

    color: var(--second-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team__type-worker {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* Наружные отступы для блока с социальными сетями*/
.team__item .social-links {

    /* Выравнивание по центру блока с социальными сетями */
    margin-left: auto;
    margin-right: auto;

    // margin-left: 32px;
    // margin-right: 32px;
    
}
