/* work - Роботи */

.work {
    @media screen and (max-width:$tablet) {
        display: none;
    }
    
}

.work__container {
    /* Шаблон, который ограничивает контент размером сетки и устанавливает отступы */
    @extend %container;
}

/* Список работ */
.work__list {
    /* Шаблон для немаркированного списка */
    @extend %list;

    display: flex;
    flex-direction: row;
    /* Расстояние между видами работ  */
    gap: 30px;
}

.work__image-box {
    /* Блок с картинкой и названием - относительная позиция для абсолютного позиционирование текста */
    position: relative;
}

.work__image {
    /* Картинка - блок, чтобы убрать нижние стандартные отступы */
    display: block;
}

/* Название видов работ - абсолютное позиционирование в картинке */
.work__description {
    /* Абсолютное позиционирование по нижнему краю */
    position: absolute;
    bottom: 0;
    /* Ширина - 100% от блока - размера картинки */
    width: 100%;

    /* Отступы */
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    /* Выравнивание текста по центру */
    text-align: center;
    /* Трансформация текста в верхний регистр букв */
    text-transform: uppercase;

    /* Цвет текста */
    color: var(--main-white-color);
    /* Цвет фона - полупрозрачный  */
    background-color: rgba(47, 48, 58, 0.8);

    /* Шрифт - параметры */
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}