html {
  box-sizing: border-box;
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-item {
  display: block;
  position: relative;
  outline: red solid 1px;
  margin-right: 20px;
}

.menu-item:hover .submenu {
  opacity: 1;
}

.menu-item:hover .menu-link {
  background-color: brown;
}

.menu-link {
  display: block;
  padding: 10px 20px;
  color: black;
  background-color: aqua;
  text-decoration: none;
}

.submenu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  /* min-width: 100%; */
  width: 200%;

  opacity: 0;

  padding: 0;
  margin: 0;
  list-style: none;
}

.submenu-link {
  display: block;
  padding: 10px 20px;
  color: black;
  background-color: brown;
  text-decoration: none;
}

.submenu-link:hover {
  background-color: aqua;
}
